[submodule "src/python-language-server"]
	path = src/python-language-server
	url = https://github.com/Kronuz/python-language-server.git
[submodule "src/vscode-css-languageserver"]
	path = src/vscode-css-languageserver
	url = https://github.com/Kronuz/vscode-css-languageserver.git
[submodule "src/tslint"]
	path = src/tslint
	url = https://github.com/Kronuz/tslint.git
[submodule "src/tslint-language-service"]
	path = src/tslint-language-service
	url = https://github.com/Kronuz/tslint-language-service.git
[submodule "src/eclipse.jdt.ls"]
	path = src/eclipse.jdt.ls
	url = https://github.com/eclipse/eclipse.jdt.ls.git
[submodule "src/mypy"]
	path = src/mypy
	url = https://github.com/Kronuz/mypy.git
[submodule "src/pyls-mypy"]
	path = src/pyls-mypy
	url = https://github.com/Kronuz/pyls-mypy.git
[submodule "src/vscode-html-languageserver"]
	path = src/vscode-html-languageserver
	url = https://github.com/vscode-langservers/vscode-html-languageserver.git
[submodule "lsp-tests"]
	path = lsp-tests
	url = https://github.com/Kronuz/lsp-tests.git
[submodule "src/lsp-tsserver"]
	path = src/lsp-tsserver
	url = https://github.com/Kronuz/lsp-tsserver.git
[submodule "src/eslint"]
	path = src/eslint
	url = https://github.com/Kronuz/eslint.git
[submodule "src/eslint-language-service"]
	path = src/eslint-language-service
	url = https://github.com/Kronuz/eslint-language-service.git
